<div class="movimientos-container">
    <form class="movimeintos-container-header" [formGroup]="myForm">
      <h3>Movimientos</h3>
      <select class="form-select" #select aria-label="seleccione el dia" 
      formControlName="item">
        <option selected >Selecciona un ítem!</option>
        <option *ngFor="let item of items, let i" value={{i.id}}>{{i.name}}</option>
      </select>
   <!--<button type="submit" class="btn btn-light">Descargar Reporte</button>-->
    </form>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Cantidad</th>
          <th scope="col">Motivo</th>
          <th scope="col">Fecha</th>
          <th scope="col">Ítem</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let m of movimientos">
            <td>{{m.amount}}</td>
            <td>{{m.motive}}</td>
            <td>{{m.movementDate}}</td>
            <td>{{m.itemStockId}}</td>
          </tr>
      </tbody>
    </table>
  </div>