.ranking-container{
    display:flex; 
    flex-direction: column;
    margin-top: 50px;
}

.ranking-container-header{
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn{
    width: 30vw; 
    margin-left: 10px;
    background-color: #744c4d;
  border: none;
  color: papayawhip;
  font-weight: 700;
}