<div class="ranking-container">
  <div class="ranking-container-header">
    <h3>RANKING DE VENTAS</h3>
 <!--<button type="submit" class="btn btn-light">Descargar Reporte</button>  -->
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Posición</th>
        <th scope="col">Producto</th>
        <th scope="col">Total de venta</th>
        <th scope="col">Cantidad vendida</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of dataSource">
          <td>{{r.posicion}}</td>
          <td>{{r.producto}}</td>
          <td>{{r.totalVenta}}</td>
          <td>{{r.cantVendido}}</td>
        </tr>
    </tbody>
  </table>
</div>