<div class="container d-flex align-items-center justify-content-center">
    <div class="col">
        <div class="row">    
            <div class="text-center">
    
                <img src="\assets\img\logo.png" class="img-fluid" alt="">
              
            </div>
        </div>
        <div class="row">
                <div class="text-center">
    
                    <h1>Bienvenido {{rol}}!</h1>
                        <p>Que tenga un excelente día laboral</p>
                  
                </div>
        </div>
    </div>
</div>

