<div class="col-3" *ngIf="router.url !== '/auth/login'">
  <img src="\assets\img\logo.png" alt="" width="250" height="250">
  <div *ngIf="router.url.includes('/administrador')">
    <button type="button" class="btn btn-outline-dark" routerLink="/administrador/reportes">REPORTES</button>
    <button type="button" class="btn btn-outline-dark" routerLink="/administrador/clientes">CLIENTES</button>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            INVENTARIO
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/administrador/articulos">STOCK DE ARTÍCULOS</a></li>
            <li><a class="dropdown-item" routerLink="/administrador/depositos">DEPÓSITOS</a></li>
            <li><a class="dropdown-item" routerLink="/administrador/ubicacion">UBICACIONES</a></li>
            <li><a class="dropdown-item" routerLink="/administrador/productos">PRODUCTOS</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-outline-dark" routerLink="/administrador/usuarios">USUARIOS</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/administrador/perfil">MI PERFIL</button>
        <button type="button" class="btn btn-light" style="margin-top: 43vh; border-color: black;" (click)="cerrarSesion()">CERRAR SESIÓN <i class="bi bi-x-lg"></i></button>
    </div>
    <div *ngIf="router.url.includes('/vendedor')">
      <button type="button" class="btn btn-outline-dark" routerLink="/vendedor/venta">NUEVA VENTA</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/vendedor/ventas">LISTADO DE VENTAS</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/vendedor/clientes">CLIENTES</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/vendedor/perfil">MI PERFIL</button>
        <button type="button" class="btn btn-light" style="margin-top: 45vh; border-color: black;" (click)="cerrarSesion()">CERRAR SESIÓN <i class="bi bi-x-lg"></i></button>
    </div>
</div>
